# vim motions
move_down j
move_up k
move_left l
move_right h

# remap highlight command
add_highlight ,

# go to beginning with home
goto_begining <home>

# color modes
toggle_dark_mode c
toggle_custom_color n

# q, or control-q to quit
quit q
quit <C-q>

# y to goto previous viewing state
pop_state y

# w to fit to page width
fit_to_page_width_smart w

# zoom coomands; use any mod combo with +/-
zoom_in +
zoom_in <C-+>

zoom_out -
zoom_out <C-->

# navigate through history with alt- as well
next_state          <A-<right>>
prev_state          <A-<left>>

# control g goes to next search item
next_item <C-g>

# marks
set_mark <C-m>
goto_mark <C-j>

# toggle synctex mode
toggle_synctex <f8>
