# side of pages
background_color  0.188 0.196 0.212
dark_mode_background_color 0.074 0.082 0.0941

# my almost black background
custom_background_color 0.074 0.082 0.0941
custom_text_color 0.871 0.890 0.910

# blue-ish
text_highlight_color 0.529 0.686 0.875

# green-ish
synctex_highlight_color 0.686 0.875 0.529

# purple-ish
link_highlight_color 0.561 0.323 0.788

# disable visual mark b/c it doesn't work well in Wayland
vertical_line_color 0.0 0.0 0.0 0.0

# put portals on a new monitor
should_use_multiple_monitors 1

# turned off b/c you can right click
# for overview
#hover_overview 1

font_size 16

ui_font Clear Sans

status_bar_color  0.188 0.196 0.212
status_bar_text_color 0.757 0.766 0.792
status_bar_font_size 10

# start with custom color
startup_commands toggle_custom_color
